In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
demographic_data = "Resources/demographic_data.csv"
behavioural_data = "Resources/behavioural_data.csv"
disease_correlation_data = "Resources/other_disease_correlation_data.csv"

# Read the  Data and  store into a Pandas DataFrame
demographic_data_df = pd.read_csv(demographic_data)
behavioural_health_data_df = pd.read_csv(behavioural_data)
disease_correlation_data_df = pd.read_csv(disease_correlation_data)

In [2]:
demographic_data_df.head()

   Patient_ID HeartDisease     Sex  AgeCategory   Race
0           0           No  Female        55-59  White
1           1           No  Female  80 or older  White
2           2           No    Male        65-69  White
3           3           No  Female        75-79  White
4           4           No  Female        40-44  White

In [3]:
behavioural_health_data_df.head()

,Patient_ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking
0,0,No,16.60,Yes,No,No,3.0,30.0,No
1,1,No,20.34,No,No,Yes,0.0,0.0,No
2,2,No,26.58,Yes,No,No,20.0,30.0,No
3,3,No,24.21,No,No,No,0.0,0.0,No
4,4,No,23.71,No,No,No,28.0,0.0,Yes

In [4]:
disease_correlation_data_df.head()

,Patient_ID,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,Yes,Yes,Very good,5.0,Yes,No,Yes
1,1,No,Yes,Very good,7.0,No,No,No
2,2,Yes,Yes,Fair,8.0,Yes,No,No
3,3,No,No,Good,6.0,No,No,Yes
4,4,No,Yes,Very good,8.0,No,No,No

In [5]:
list(disease_correlation_data_df)

['Patient_ID',
 'Diabetic',
 'PhysicalActivity',
 'GenHealth',
 'SleepTime',
 'Asthma',
 'KidneyDisease',
 'SkinCancer']

In [6]:
list(behavioural_health_data_df)

['Patient_ID',
 'HeartDisease',
 'BMI',
 'Smoking',
 'AlcoholDrinking',
 'Stroke',
 'PhysicalHealth',
 'MentalHealth',
 'DiffWalking']

In [7]:
list(demographic_data_df)

['Patient_ID', 'HeartDisease', 'Sex', 'AgeCategory', 'Race']

In [8]:
#heart_disease_demographic_data_df.to_sql('Resources/demographic_data.sqlite', index = False, con=engine)

In [9]:
# Create our session (link) from Python to the DB
#session = Session(engine)

In [10]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

import datetime as dt

In [11]:
#engine = create_engine("sqlite:///demographic_darta.sqlite")
#"sqlite:///hawaii.sqlite"

In [12]:
# reflect an existing database into a new model
#Base = automap_base()
# reflect the tables
#Base.prepare(engine, reflect=True)

# Save references to each table
#Measurement = Base.classes.measurement
#Station = Base.classes.station

# Create our session (link) from Python to the DB
#session = Session(engine)

# 1. Import the sqlalchemy extract function.
#from sqlalchemy import extract

In [13]:
#from sqlalchemy import create_engine
#engine = create_engine('sqlite://', echo=False)

#column=[['Patient_ID', 'HeartDisease', 'Sex', 'AgeCategory', 'Race']]
#heart_disease_demographic_data_df.to_sql('heart_disease_demographic_data_df', con=engine)

#df1.to_sql('users', con=engine, if_exists='append')
#engine.execute("SELECT * FROM users").fetchall()

In [14]:
#import pandas as pd
#import sqlite3

# Read sqlite query results into a pandas DataFrame
#con = sqlite3.connect("demographic_data.sqlite")
#df = pd.read_sql_query("SELECT * from demographic_data", con)

# Verify that result of SQL query is stored in the dataframe
#print(df.head())

#con.close()

In [15]:
#con=sqlite3.connect("demographic_data.sqlite")

In [16]:
# Load the data into a DataFrame
#query_df = pd.read_sql_query("SELECT * from demographic_data", con)

In [17]:
#engine.execute("SELECT * demographic_data.sqlite")

In [18]:
#heart_disease_demographic_data_sql_df = pd.read_sql('sqlite:demographic_data.sqlite', con=engine)

In [19]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS demographic_data")

#Creating table as per requirement
sql ='''CREATE TABLE "demographic_data" (
    "Patient_ID" int   NOT NULL,
    "HeartDisease" varchar   NOT NULL,
    "Sex" varchar   NOT NULL,
    "AgeCategory" varchar   NOT NULL,
    "Race" varchar   NOT NULL,
    CONSTRAINT "pk_demographic" PRIMARY KEY (
        "Patient_ID"
     )
);'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [20]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS behavioural_data")

#Creating table as per requirement
sql ='''CREATE TABLE "behavioural_data" (
    "Patient_ID" int   NOT NULL,
    "HeartDisease" varchar   NOT NULL,
    "BMI" int   NOT NULL,
    "Smoking" varchar   NOT NULL,
    "AlcoholDrinking" varchar   NOT NULL,
    "Stroke" varchar   NOT NULL,
    "PhysicalHealth" int   NOT NULL,
    "MentalHealth" int   NOT NULL,
    "DiffWalking" varchar   NOT NULL,
    CONSTRAINT "pk_behavioural_data" PRIMARY KEY (
        "Patient_ID","HeartDisease"
     )
);'''
#cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [21]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS disease_correlation")

#Creating table as per requirement
sql ='''CREATE TABLE "disease_correlation" (
    "Patient_ID" int   NOT NULL,
    "Diabetic" varchar   NOT NULL,
    "PhysicalActivity" varchar   NOT NULL,
    "GenHealth" varchar   NOT NULL,
    "SleepTime" int   NOT NULL,
    "Asthma" varchar   NOT NULL,
    "KidneyDisease" varchar   NOT NULL,
    "SkinCancer" varchar   NOT NULL,
    CONSTRAINT "pk_Disease_correlation" PRIMARY KEY (
        "Patient_ID"
     )
);'''
cursor.execute(sql)
print("Table created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [23]:
engine = create_engine("sqlite:///heart_disease.db")
Base = automap_base()
Base = automap_base()
Base.prepare(engine, reflect=True)

In [24]:
demographic_data_df.to_sql('demographic_data', con = engine, if_exists = 'append', index=False, chunksize = 1000)
behavioural_health_data_df.to_sql('behavioural_data', con = engine, if_exists = 'append', index=False, chunksize = 1000)
disease_correlation_data_df.to_sql('disease_correlation', con = engine, if_exists = 'append', index=False, chunksize = 1000)

In [25]:
# We can view all of the classes that automap found
Base.classes.keys()

['demographic', 'demographic_data', 'disease_correlation']

In [26]:
# Save references to each table
demographic_data = Base.classes.demographic_data
disease_correlation = Base.classes.disease_correlation

In [27]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [28]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

June_df = pd.DataFrame(June_query, columns=['date','temperature'])
June_df.set_index(June_df['date'], inplace=True)

In [29]:
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
race_query=session.query(demographic_data.Sex, demographic_data.Race)
disease_query=session.query(disease_correlation.Patient_ID, disease_correlation.Diabetic, disease_correlation.Asthma, disease_correlation.SkinCancer)
#.filter(extract([Sex==Female],Race=White)

In [30]:
race_df = pd.DataFrame(race_query, columns=['Sex','Race'])
disease_df = pd.DataFrame(disease_query, columns=['Patient_ID', 'Diabetic', 'Asthma','SkinCancer'])
#June_df.set_index(June_df['date'], inplace=True)
race_df.head()

      Sex   Race
0  Female  White
1  Female  White
2    Male  White
3  Female  White
4  Female  White

In [31]:
disease_df.head()

   Patient_ID Diabetic Asthma SkinCancer
0           0      Yes    Yes        Yes
1           1       No     No         No
2           2      Yes    Yes         No
3           3       No     No        Yes
4           4       No     No         No

In [32]:
race_df.describe

<bound method NDFrame.describe of            Sex      Race
0       Female     White
1       Female     White
2         Male     White
3       Female     White
4       Female     White
...        ...       ...
319790    Male  Hispanic
319791    Male  Hispanic
319792  Female  Hispanic
319793  Female  Hispanic
319794  Female  Hispanic

[319795 rows x 2 columns]>

In [33]:
disease_df.describe

<bound method NDFrame.describe of         Patient_ID Diabetic Asthma SkinCancer
0                0      Yes    Yes        Yes
1                1       No     No         No
2                2      Yes    Yes         No
3                3       No     No        Yes
4                4       No     No         No
...            ...      ...    ...        ...
319790      319790      Yes    Yes         No
319791      319791       No    Yes         No
319792      319792       No     No         No
319793      319793       No     No         No
319794      319794       No     No         No

[319795 rows x 4 columns]>

In [34]:
# We can view all of the classes that automap found
Base.classes.keys()

['demographic', 'demographic_data', 'disease_correlation']

In [35]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Load the data into a DataFrame
demographic_data_query_df = pd.read_sql_query("SELECT * from demographic_data", con=engine)
#cursor.execute(sql)
print("dataframe created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

dataframe created successfully........

In [36]:
demographic_data_query_df.head(10)

   Patient_ID HeartDisease     Sex  AgeCategory   Race
0           0           No  Female        55-59  White
1           1           No  Female  80 or older  White
2           2           No    Male        65-69  White
3           3           No  Female        75-79  White
4           4           No  Female        40-44  White
5           5          Yes  Female        75-79  Black
6           6           No  Female        70-74  White
7           7           No  Female  80 or older  White
8           8           No  Female  80 or older  White
9           9           No    Male        65-69  White

In [37]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Load the data into a DataFrame
behavioural_data_query_df = pd.read_sql_query("SELECT * from behavioural_data", con=engine)
#cursor.execute(sql)
print("dataframe created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

dataframe created successfully........

In [38]:
behavioural_data_query_df.head()

,Patient_ID,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking
0,0,No,16.60,Yes,No,No,3.0,30.0,No
1,1,No,20.34,No,No,Yes,0.0,0.0,No
2,2,No,26.58,Yes,No,No,20.0,30.0,No
3,3,No,24.21,No,No,No,0.0,0.0,No
4,4,No,23.71,No,No,No,28.0,0.0,Yes

In [39]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('heart_disease.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Load the data into a DataFrame
disease_correlation_query_df = pd.read_sql_query("SELECT * from disease_correlation", con=engine)
#cursor.execute(sql)
print("dataframe created successfully........")

# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

dataframe created successfully........

In [40]:
disease_correlation_query_df.head()

,Patient_ID,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,Yes,Yes,Very good,5,Yes,No,Yes
1,1,No,Yes,Very good,7,No,No,No
2,2,Yes,Yes,Fair,8,Yes,No,No
3,3,No,No,Good,6,No,No,Yes
4,4,No,Yes,Very good,8,No,No,No

In [41]:
disease_correlation_query_df.describe

<bound method NDFrame.describe of         Patient_ID Diabetic PhysicalActivity  GenHealth  SleepTime Asthma  \
0                0      Yes              Yes  Very good          5    Yes
1                1       No              Yes  Very good          7     No
2                2      Yes              Yes       Fair          8    Yes
3                3       No               No       Good          6     No
4                4       No              Yes  Very good          8     No
...            ...      ...              ...        ...        ...    ...
319790      319790      Yes               No       Fair          6    Yes
319791      319791       No              Yes  Very good          5    Yes
319792      319792       No              Yes       Good          6     No
319793      319793       No               No       Good         12     No
319794      319794       No              Yes       Good          8     No

       KidneyDisease SkinCancer
0                 No        Yes
1                 No         No
2                 No         No
3                 No        Yes
4                 No         No
...              ...        ...
319790            No         No
319791            No         No
319792            No         No
319793            No         No
319794            No         No

[319795 rows x 8 columns]>